// Fuentes
$fuente_principal: 'Nunito', sans-serif;

// Tamaño de Media Queries
$telefono: 479px;
$tablet  : 767px;
$desktop : 1023px;

// Colores

$black  : #000000;
$white  : #ffffff;
$color1 : #0004;
$color2 : red;

$separacion: 5rem;
